///////////////////
// Base Styles
///////////////////

// Removes body space and makes sure images are responsive

html, body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
