///////////////////
// Helper Classes
///////////////////

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap   { white-space: nowrap !important; }
.text-truncate { @include text-truncate; }
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }
.clearfix {
  @include clearfix();
}
.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}

