///////////////////
// Helper Classes
///////////////////
.text-italic {
  font-style: italic;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap   { white-space: nowrap !important; }
.text-truncate { @include text-truncate; }
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }
.clearfix {
  @include clearfix();
}
.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}


@for $i from 1 through 4 {
    .mt-#{$i} {
        margin-top: #{$i}rem;
            }
        .mr-#{$i} {
        margin-right: #{$i}rem;
        }
        .mb-#{$i} {
        margin-bottom: #{$i}rem;
        }
        .ml-#{$i} {
        margin-left: #{$i}rem;
        }
        .m-#{$i} {
        margin: #{$i}rem;
        }

        .pt-#{$i} {
        padding-top: #{$i}rem;
        }
        .pr-#{$i} {
        padding-right: #{$i}rem;
        }
        .pb-#{$i} {
        padding-bottom: #{$i}rem;
        }
        .pl-#{$i} {
        padding-left: #{$i}rem;
        }
        .p-#{$i} {
        padding: #{$i}rem;
    }
}

.content-container, .container {
  max-width: $max-width;
  margin: 0 auto;
  padding: $padding;
}
.fl-builder .content-container {
  max-width: none;
  padding: 0;
}

.well {
  padding: 1rem;
  border: solid 1px $border-color;
  border-radius: $border-radius;
  background-color: $gray-lightest;
}
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}
.text-gray {
  color: $gray;
}
.text-blue {
  color: $blue;
}
.text-red {
  color: $red;
}
.text-orange {
  color: $orange;
}
.text-yellow {
  color: $yellow;
}
.text-green {
  color: $green;
}
.text-teal {
  color: $teal;
}
.text-pink {
  color: $pink;
}
.text-purple {
  color: $purple;
}

.list-none {
    list-style-type: none;
}
