/////////////////////////
// Common Overrides
////////////////////////

// $spacer:   1rem !default;

/////////////////////////
// Colors
////////////////////////

//$white:  #fff !default;
//$black:  #000 !default;
//$red:    #d9534f !default;
//$orange: #f0ad4e !default;
//$yellow: #ffd500 !default;
//$green:  #5cb85c !default;
//$blue:   #0275d8 !default;
//$teal:   #5bc0de !default;
//$pink:   #ff5b77 !default;
//$purple: #613d7c !default;

// Create grayscale
//$gray-dark:                 #292b2c !default;
//$gray:                      #464a4c !default;
//$gray-light:                #636c72 !default;
//$gray-lighter:              #eceeef !default;
//$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
//$brand-primary:             $blue !default;
//$brand-success:             $green !default;
//$brand-info:                $teal !default;
//$brand-warning:             $orange !default;
//$brand-danger:              $red !default;
//$brand-inverse:             $gray-dark !default;

/////////////////////////
// Fonts
////////////////////////

// Set the default font
// $font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

// $font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
// $line-height-base: 1.5 !default;

//$body-bg:       $white !default;
//$body-color:    $blue !default;

// $headings-font-family:   inherit !default;
// $headings-color:         inherit !default;

// $font-size-h1: 2.5rem !default;
// $font-size-h2: 2rem !default;
// $font-size-h3: 1.75rem !default;
// $font-size-h4: 1.5rem !default;
// $font-size-h5: 1.25rem !default;
// $font-size-h6: 1rem !default;

//$link-color:            $blue !default;
//$link-decoration:       none !default;
//$link-hover-color:      darken($blue, 15%) !default;
//$link-hover-decoration: underline !default;

//$btn-primary-color:              $white !default;
//$btn-primary-bg:                 $blue !default;
//$btn-primary-border:             $btn-primary-bg !default;

